$pColor:  rgba(128, 128, 128, 0.844);

@mixin horizontal-line {
    hr {
        border: 3px solid rgba(0, 0, 255, 0.44);
        width: 1.5%;
        border-radius: 10px;
    }
}
@mixin button {
     button.btn-group-sm > .btn, .btn-sm {
            padding: .5rem 1rem;
            border-radius: 2rem;
            align-self: flex-start;
            text-align: left;
        }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Times, 'Times New Roman', serif;
    background-color: rgba(233, 233, 233, 0.303);
}

header {
        position: relative;
        display: grid;
        grid-template-columns: 100%;
        align-items: space-between;
        height: 100vh;
        color: white;
        background-color: black;
    h1 {
        font: {
            family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            style: italic;
            weight: 900;
            size: 280%;
        }
        letter-spacing: -4px;
        text-align: center;
        margin-top: 0;
        padding-top: 0;
    }

    img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        opacity: 0.3;
    }

    nav{
        width: 100%;
        border-top: 1px solid gray;
        align-self: end;

        ul {
        display: flex;
        width: 100%;
        justify-content: center;
        list-style-type: none;
        padding: 0;
        margin: 0;
        }
        li {
            margin: 0.5% 2% 0% 2%;
            font-size: 120%;
            padding: 0;
        }
        a.activ {
            border-bottom: 4px solid rgb(245, 233, 67);
            color: inherit;
        }
        a.active:hover {
            text-decoration: none;
        }
        a {
            cursor: pointer;
            display: block;
            transition: all 0.7s ease;
            padding-bottom: 20px;
            border-bottom: 4px solid transparent;
        }
        }
        a:hover {
            color: rgb(174, 51, 51);
        }

    div {
        text-align: center;
        align-self: center;

        h1 {
            font-size: 300%;
            font-style: normal;
            letter-spacing: initial;
        }
        @media (max-width: 600px) {
            h1 {
                font: {
                    weight: 800;
                    size: 240%;
                }
            }
        }
        @media (max-width: 500px) {
            h1 {
                font: {
                    weight: 700;
                    size: 180%;
                }
            }
        }
        p {
            font-size: 110%;
            margin-top: 2%;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
        }
        }
}
@media (max-width: 576px){
    @media (max-height: 650px){
    header {
        padding-bottom: 30%;
    }
}
@media (min-height: 651px){
    header {
        padding-bottom: 70%;
    }
}
}

main {
    padding-top: 8%;

    h2 {
        font-weight: 700;
        @include horizontal-line;
    }

    div {
        p {
            font: {
                size: 120%;
                weight: 500;
            }
            color: $pColor;
            letter-spacing: 0.8px;
        }
    }

    section.first {
        margin-top: 40px;
        box-shadow:  5px 0px 50px 5px rgba(48, 48, 48, 0.2);
        div.col-sm-6{
            background-color: white;
            box-shadow:  -30px 0px 70px -30px rgba(48, 48, 48, 0.549),  10px 0px 20px -30px rgba(48, 48, 48, 0.645);
            padding: 2%;

            h3,h5 {
                padding: 4% 2% 7% 2%;
                font-weight: 600;
            }
            h6 {
                text-align: right;
            }
            p {
                font-size: 110%;
            }
        }
    }
    section.second {
        margin-top: 10%;
       @include button;
        div {
            p.col-sm-6 {
                padding-left: 0;
            }
        }
        div.col-md-4 {
            justify-self: stretch;
            box-shadow: 5px 5px 10px -5px rgba(48, 48, 48, 0.2);
            padding: {
                right: 0;
                left: 0;
            }
            max-width: 31%;
            margin-right: 2%;
            border: none;
            border-radius: 0;
            @media (max-width: 720px) {
                max-width: 48%;
            }
            @media (max-width: 600px) {
                max-width: 100%;
                margin-top: 10%;
            }

            img.card-img-top {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
            div {
            h3.card-title {
                font: {size: 140%;
                        weight: 800;
                }
                @include horizontal-line;
                hr {
                    width: 5%;
                }
                }
                p {
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    letter-spacing: 0px;
                    line-height: 30px;
                    font: {
                        size: 78%;
                        weight: 600;
                    }
            }
            }
        }
        div.col-md-4:nth-last-of-type(1) {
            @media (max-width: 720px) {
                margin-right: auto;
                margin-left: auto;
            }
        }
    }

    section.third {
        margin-top: 10%;
        p {
            font: {
                size: 115%;
                weight: 500;
            }
            color: $pColor;
            letter-spacing: 0.8px;
        }
        div.row {
            span {
                height: 120%;
            position: relative;
                img:nth-of-type(1) {
                    position: static;
                    width: 100%;
                    height: 100%;
                    filter: contrast(70%)
                }
                img:nth-of-type(2) {
                    position: absolute;
                    bottom: 3%;
                    right: 7%;
                    width: 20%;
                    height: auto;
                }
            }
            span {
                @media (max-width: 770px) {
                    width: 100%;
                    height: auto;
                    margin-right: 0;
                    padding-right: 0;
                }
                @media (max-width: 578px) {
                     margin-bottom: 10%;
                     width: 90%;
                }
            }
        }
            @media (max-width: 600px){
                div.row {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
            aside {
                @include button;
                align-self: center;
                h6 {
                    font-weight: 400;
                    color: $pColor;
                    letter-spacing: 1px;
                }
                h3 {
                    font-weight: 700;
                }
                button {
                    border-radius: 5rem;
                    margin-left: .75rem;
                }
            }
        }
    }
    section.fourth {
        margin-top: 20%;
        p {
            font: {
                size: 115%;
                weight: 500;
            }
            color: $pColor;
            letter-spacing: 0.8px;
        }
        ul.col-sm-12 {
            // justify-content: space-around;
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: 16.67% 16.67% 16.67% 16.67% 16.67% 16.67%;
            row-gap: 15%;
            justify-content: space-between;
            li {
                max-width: none;
            //     display: inline-block;
               text-align: center;
               margin: 0;
               padding: 0;
            }
            img {
                filter: grayscale(100%);
            }
        }
        @media (max-width: 992px) {
            ul.col-sm-12 {
                grid-template-columns: 24% 24% 24% 24%;
                margin-bottom: 50%;
            }
        }
        @media (max-width: 768px) {
            ul.col-sm-12 {
                grid-template-columns: 32% 32% 32%;
            }
        }
        @media (max-width: 576px) {
            ul.col-sm-12 {
                grid-template-columns: 48% 48%;
                margin-bottom: 150%;
            }
            img.boi {
                object-fit: fill;
                width: 80%;
                height: 100%;
            }
        }
    }
    section.fifth {
        position: relative;
        margin-top: 30%;
        background-color: rgba(235, 176, 176, 0.378);
        img {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: fill;
            opacity: 0.3;
        }
        div.col-12 {
            margin: 8% 5%;
            h3.col-sm-3 {
                display: block;
                font-weight: 800;
            }
            p.col-sm-4, p.col-sm-5 {
                display: block;
                color: rgba(0, 0, 0, 0.748);
                font-weight: 600;
                font-size: 100%;
                letter-spacing: 0;
            }
            button.btn {
                @include button;
                border-radius: 5rem;
                margin-left: .75rem;
                margin-top: 3%;
            }
        }
        @media (max-width: 600px) {
            div.col-12 {
                margin: 8% 0;
            }
        }
    }
    @media (max-width: 490px) {
    section.fifth {
        margin-top: 70%;
    }
    }
    @media (max-width: 410px) {
        section.fifth {
            margin-top: 150%;
        }
}
footer.background {
    margin-top: 10%;
    img.background {
        position: absolute;
        object-fit: fill;
        height: 100%;
        width: 100%;
        opacity: 0.2;
    }
}
footer.container {

    position: relative;
    padding: 8% 5%;
    border-top: 1px dashed rgba(128, 128, 128, 0.453);
    h5 {
        font-weight: 700;
    }
    input {
        border-radius: .95rem;
        border: 1px solid rgba(128, 128, 128, 0.391);
    }
    @include button;
    button.btn {
        border-radius: 5rem;
        margin-left: .75rem;
        font-weight: 800;
        font-size: 120%;
    }
    @media (max-width: 380px) {
       button.btn { display: block;
        width: 100%;
        border-radius: .5rem;
        padding: 0;
       }
    }
    div {
        ul:nth-of-type(1){
            list-style-type: none;
            :nth-child(2) {
                font-size: 110%;
                color: $pColor;
            }
            :nth-child(3) {
                margin-top: 10%;
            }
            a {
                text-decoration: underline;
                font-weight: 600;
                color: blue;
            }
        }
        ul {
            list-style-type: none;
            a {
                color: gray;
                font-size: 110%;
            }
            a:hover {
                text-decoration: none;
                color: gray;
            }
            img {
                width: 80%;
                height: 90%;
            }
            @media (max-width: 500px) {
                img {
                    width: 250%;
                    height: 130%;
                }
            }
        }
    }
    div:nth-of-type(2){
        margin-top: 5%;
    }
    div.copyright {
        margin-top: 3%;
        color: rgba(128, 128, 128, 0.364);
        font-weight: 300;
    }
}